{% extends 'base.html' %}

{% block content_title %}
    New Post
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <form action="{{ url_for('posts.create') }}" method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='col-form-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
{% endblock %}