{% extends 'base.html' %}

{% block content_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="tag">
        {% for tag in tags %}
            <a class="badge badge-primary" href="{{ url_for('posts.tag_detail', slug=tag.slug) }}">
                {{ tag.name }}
            </a>
        {% endfor %}
    </div>

    <div class="main-content">
        {{ post.body }}
    </div>
{% endblock %}