{% extends 'base.html' %}

{% block content_title %}
    Post for {{ tag.name }} tag:
{% endblock %}

{% block content %}
    <div class="post">
    {% for post in post_list %}
        <a href="{{ url_for('posts.post_detail', slug=post.slug) }}">{{ post.title }}</a>
    {% endfor %}
    </div>
{% endblock %}